<h1> Commit now</h1>

<div>
  <%= link_to "View Conversations", conversations_path %>
  <br><br>
</div>

<% @events.each do |event| %>
  <div>
    <%= link_to event.user.username, event.user %>
  <div>
    <%= event.name %> 
  </div>
  <div>
    <%= event.description %> 
  </div>
  <div>
    <%= event.time %>
  </div>
  <div>
    <%= link_to "Commit", new_user_conversation_path(event.user) %>
  </div>
  <br>
  <end>
<% end %>
