<h1> Commit now</h1>

<div>
  <%= link_to "View Conversations", conversations_path %>
  <br><br>
</div>

<% @events.each do |event| %>
  <div>
    <%= link_to event.user.username, event.user %>
  <div>
    <%= event.name %> 
  </div>
  <div>
    <%= event.description %> 
  </div>
  <div>
    <%= event.time %>
  </div>
  <div> 
    <%= button_to "Commit", friend_user_path(event.user.id, event_id: event.id) %>
  </div>
  <div>
    <% if current_user.event_friend?(event.user, event) %>
      <%= button_to "Message User", new_user_conversation_path(event.user) %>
    <% end %>
  </div>
  <br>
  <end>
<% end %>
