<!DOCTYPE html>
<html>
<head>
  <title>Commit</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
  <style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:70%; margin-left: 35em;  }
  </style>
</head>
<body>

<% if signed_in? %>
  <%= current_user.email %>
  <%= link_to "Sign Out", session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_session_path %>
<% end %>

<div id='map'></div>
  <script>
    L.mapbox.accessToken = 'pk.eyJ1IjoicmFmYWVsZnJlYW5lciIsImEiOiJveW8x'
    var map = L.mapbox.map('map', 'rafaelfreaner.j9aa9oh1');
  </script>

<%= yield %>

</body>
</html>
